<ion-content>
    <div class="inner-page main-page">
        <div class="title">Лучшие агенты для Вас</div>

        <div class="page-loading" *ngIf="!pageLoaded">
            <ion-spinner class="spinner-loader"></ion-spinner>
        </div>

        <div class="agents" *ngIf="agents">
            <div class="agent" *ngFor="let agent of agents" data-id="{{agent.id}}" (click)="openAgentPage(agent.login)">
                <div class="agent__image">
                    <img src="{{agent.avatar.src}}" class="agent__image-img"/>
                </div>
                <div class="agent__info">
                    <div class="agent__name">{{agent.displayname}}</div>
                    <div class="agent__rate">
                        <span *ngFor="let i of [1, 2, 3, 4, 5]" class="mdi mdi-star agent__rate-start" [ngClass]="{'agent__rate-start_act' : addActiveClass(i, agent.rate)}"></span>
                    </div>
                    <div class="agent__objects-found" *ngIf="getObjectsCount(agent.objectCount) > 0">
                        Найдено объектов: {{getObjectsCount(agent.objectCount)}}
                    </div>
                </div>
                <span class="agent__detail mdi mdi-chevron-right"></span>
            </div>
        </div>

        <div *ngIf="agents === null">
            <div class="empty-list">
                К сожалению, по вашему запросу ничего не найдено
            </div>

            <div class="submit-search">
                <span class="submit-search__button submit-search__button_load" (click)="returnToSearch()">Изменить условия поиска</span>
            </div>
        </div>

        <div class="submit-search" *ngIf="nextPage !== null">
            <ion-spinner class="spinner-button" [ngClass]="{'spinner-button_show' : loading}"></ion-spinner>
            <span class="submit-search__button submit-search__button_load" (click)="loadPage()">Загрузить еще</span>
        </div>
    </div>
</ion-content>