<ion-content>
    <div class="inner-page main-page">
        <div class="title title_smaller title_object">{{objectName}}</div>
        <div class="object-detail">
            <div class="object-detail__slider" *ngIf="photos.length > 0">
                <ion-slides (ionSlideDidChange)="slideChanged()">
                    <ion-slide *ngFor="let photo of photos">
                        <div class="object-detail__iw">
                            <img src="{{photo.src}}" height="{{photo.width}}" width="{{photo.height}}" class="object-detail__image"/>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="object-detail__pager">
                    <span class="mdi mdi-arrow-left js-prev-slide" (click)="this.prevSlide()"></span>
                    <i>{{currentSlide}}/{{photos.length}}</i>
                    <span class="mdi mdi-arrow-right js-next-slide" (click)="this.nextSlide()"></span>
                </div>
            </div>
            <div class="object-buttons">
                <div class="object-buttons__button object-buttons__button_favorites js-object-favorite" (click)="addToFavorite()" [ngClass]="{'selected' : services.favorite > 0}">
                    <span class="mdi mdi-star-outline"></span>В избранное
                </div>
                <div class="object-buttons__button object-buttons__button_comparison js-object-compare" (click)="addToCompare()" [ngClass]="{'selected' : services.compare > 0}">
                    <span class="mdi mdi-compare"></span>К сравнению
                </div>
            </div>

            <div *ngIf="properties.length > 0">
                <div class="title title_character">Характеристики</div>

                <div class="table">
                    <div class="table__row" *ngFor="let property of properties">
                        <div class="table__cell table__cell_name">{{property.name}}</div>
                        <div class="table__cell table__cell_value">{{property.value}}</div>
                    </div>
                </div>
            </div>

            <div class="object-actions">
                <div class="object-actions__action object-actions__action_order" (click)="loadObjectRequest()">Заявка на просмотр</div>
            </div>
        </div>

        <div *ngIf="similar.length > 0">
            <div class="title title_smaller">Похожие объекты</div>
            <div class="objects">
                <div class="object" *ngFor="let object of similar" (click)="loadObject(object.symCode)">
                    <div class="object__img">
                        <img src="{{object.photos[0].src}}" class="object__image" />
                    </div>
                    <div class="object__preview">
                        <div class="object__name">{{object.name}}</div>
                        <div class="object__price">{{object.priceText}}</div>
                    </div>
                    <span class="object__to-detail mdi mdi-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>
</ion-content>