<ion-content>
    <div class="inner-page main-page">
        <div class="title title_smaller">Избранное</div>

        <div *ngIf="userCategories && userCategories.length > 0">
            <div class="categories">
                <div class="categories-list categories-list_flat">
                    <div class="cat-check cat-check_flat2" *ngFor="let category of userCategories">
                        <input type="radio" name="cat" id="chUserService{{category}}" value="{{category}}">
                        <label for="chUserService{{category}}" class="js-category-label" (click)="changeCategory(category)">
                            {{showCategoryName(category)}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-loading" *ngIf="!pageLoaded">
            <ion-spinner class="spinner-loader"></ion-spinner>
        </div>

        <div *ngIf="objects && objects.length > 0">

            <div class="objects">
                <div class="object" *ngFor="let object of objects" (click)="loadObject(object.symCode)">
                    <div class="object__img">
                        <img src="{{object.photos[0].src}}" class="object__image"/>
                    </div>
                    <div class="object__preview">
                        <div class="object__name">{{object.name}}</div>
                        <div class="object__price">{{object.priceText}}</div>
                    </div>
                    <span class="object__to-detail mdi mdi-chevron-right"></span>
                </div>
            </div>
            <div class="submit-search" *ngIf="nextPage !== null">
                <ion-spinner class="spinner-button" [ngClass]="{'spinner-button_show' : loading}"></ion-spinner>
                <span class="submit-search__button submit-search__button_load" (click)="loadPage(true)">Загрузить еще</span>
            </div>

        </div>

        <div *ngIf="objects === null">
            <div class="empty-list">
                Вы еще ничего не добавили в избранное
            </div>
        </div>
    </div>
</ion-content>