<ion-content>
    <div class="main-page inner-page">
        <div class="title">{{serviceTitle}}</div>

        <div class="service-text" [innerHTML]="this.serviceHTML"></div>

        <div *ngIf="servicePrice">
            <div class="title title_smaller">Стоимость услуги</div>
            <div class="table">
                <div class="table__row" *ngFor="let row of servicePrice">
                    <div class="table__cell table__cell_name table__cell_i1">{{row.name}}</div>
                    <div class="table__cell table__cell_value table__cell_i2">{{row.priceText}}</div>
                </div>
            </div>
        </div>

        <div class="submit-search">
            <span class="submit-search__button submit-search__button_load" (click)="openServiceForm()">Оставить заявку</span>
        </div>
    </div>
</ion-content>