<ayax-header></ayax-header>

<ion-content>
    <div class="main-page inner-page">
        <div class="title">{{serviceTitle}}</div>

        <div class="service-text" [innerHTML]="this.serviceHTML"></div>

        <div *ngIf="servicePrice">
            <div class="title title_smaller">Стоимость услуги</div>
            <div class="table">
                <div class="table__row" *ngFor="let row of servicePrice">
                    <div class="table__cell table__cell_name table__cell_i1">{{row.name}}</div>
                    <div class="table__cell table__cell_value table__cell_i2">{{row.priceText}}</div>
                </div>
            </div>
        </div>

        <div class="submit-search">
            <span class="submit-search__button submit-search__button_load" (click)="openServiceForm(this.serviceTitle)">Оставить заявку</span>
        </div>

        <div class="title title_smaller">Вы можете обратиться к нашим специалистам</div>

        <div class="agents">
            <div class="agent">
                <div class="agent__image">
                    <img src="../../assets/imgs/mob.jpg" class="agent__image-img"/>
                </div>
                <div class="agent__info">
                    <div class="agent__name">Ольга Макагон</div>
                    <div class="agent__department">Ипотечный центр</div>
                    <div class="agent__position">Руководитель</div>
                </div>
                <span class="agent__detail mdi mdi-chevron-right"></span>
            </div>
        </div>
    </div>
</ion-content>