<ion-content>
    <div class="inner-page main-page">
        <div class="title title_smaller title_reviews" *ngIf="agent">
            Отзывы клиентов {{agent.displayNameO}}
        </div>

        <div class="reviews" *ngIf="reviews">
            <div class="review" *ngFor="let review of reviews">
                <div class="review__author" [innerHTML]="review.author"></div>
                <div class="review-text" [innerHTML]="review.text"></div>
                <div class="review__date" *ngIf="review.date">{{review.date}}</div>
            </div>
        </div>

        <div class="submit-search" *ngIf="nextPage !== null">
            <span class="submit-search__button submit-search__button_load" (click)="loadPage()">Читать еще</span>
        </div>
    </div>
</ion-content>