<ion-content>
    <div class="inner-page main-page">
        <div class="title title_smaller">Сравнение</div>

        <div *ngIf="userCategories.length > 0">
            <div class="categories">
                <div class="categories-list categories-list_flat">
                    <div class="cat-check cat-check_flat2" *ngFor="let category of userCategories">
                        <input type="radio" name="cat" id="chUserService{{category}}" value="{{category}}">
                        <label for="chUserService{{category}}" class="js-category-label" (click)="changeCategory(category)">
                            {{showCategoryName(category)}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="objects && objects.length > 0">
            <div class="object-detail__pager compare-pager">
                <span class="mdi mdi-arrow-left"></span>
                <i>1/3</i>
                <span class="mdi mdi-arrow-right"></span>
            </div>

            <div class="object-detail">
                <div class="object-detail__slider">
                    <img src="../../assets/imgs/object_b.jpg" class="object-detail__image"/>
                    <div class="object-detail__pager object-detail__pager_compare">
                        <span class="mdi mdi-arrow-left"></span>
                        <i>фото: 1/8</i>
                        <span class="mdi mdi-arrow-right"></span>
                    </div>
                </div>

                <div class="title title_character">Характеристики</div>

                <div class="table">
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Район</div>
                        <div class="table__cell table__cell_value">40 лет Победы/Восточно-Кругликовская</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Адрес</div>
                        <div class="table__cell table__cell_value">ул. им Генерала Трошева Г.Н., 35</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Кол-во комнат</div>
                        <div class="table__cell table__cell_value">1</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Площадь общая</div>
                        <div class="table__cell table__cell_value">38</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Площадь жилая</div>
                        <div class="table__cell table__cell_value">19,5</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Площадь кухни</div>
                        <div class="table__cell table__cell_value">10</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Этаж</div>
                        <div class="table__cell table__cell_value">8 из 16</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Материал стен</div>
                        <div class="table__cell table__cell_value">блочный</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Комнаты</div>
                        <div class="table__cell table__cell_value">изолированные</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Санузел</div>
                        <div class="table__cell table__cell_value">совмещенный</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Балкон</div>
                        <div class="table__cell table__cell_value">балкон</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Тип жилья</div>
                        <div class="table__cell table__cell_value">Вторичное жилье</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Ремонт</div>
                        <div class="table__cell table__cell_value">косметический/под ключ</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Жилой фонд</div>
                        <div class="table__cell table__cell_value">современный</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Свидетельство</div>
                        <div class="table__cell table__cell_value">менее 3 лет</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Лифт</div>
                        <div class="table__cell table__cell_value">2 лифта</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Пол</div>
                        <div class="table__cell table__cell_value">линолеум</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Горячая вода</div>
                        <div class="table__cell table__cell_value">централизованное</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Окна</div>
                        <div class="table__cell table__cell_value">во двор</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Отопление</div>
                        <div class="table__cell table__cell_value">централизованное</div>
                    </div>
                    <div class="table__row">
                        <div class="table__cell table__cell_name">Потолок</div>
                        <div class="table__cell table__cell_value">2.8</div>
                    </div>
                </div>
                <br/>
                <div class="object-buttons">
                    <div class="object-buttons__button object-buttons__button_favorites">
                        <span class="mdi mdi-star-outline"></span>В избранное
                    </div>
                    <div class="object-buttons__button object-buttons__button_comparison">
                        <span class="mdi mdi-delete"></span>Удалить
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="objects === null">
            <div class="empty-list">
                Вы еще ничего не добавили к сравнению
            </div>
        </div>
    </div>
</ion-content>