<ion-content>
    <div class="inner-page main-page">
        <div *ngIf="agent">
            <div class="title">{{agent.displayname}}</div>

            <div class="agent agent_detail">
                <div class="agent__image">
                    <img src="{{agent.avatar.src}}" class="agent__image-img" />
                </div>
                <div class="agent__info">
                    <div class="agent__total-rate">
                        <span class="agent__total-rate-num">
                            {{this.displayRate()}}
                        </span>
                        <div class="agent__rate">
                            <span *ngFor="let i of [1, 2, 3, 4, 5]" class="mdi mdi-star agent__rate-start" [ngClass]="{'agent__rate-start_act' : addActiveClass(i, agent.rate)}"></span>
                        </div>
                    </div>
                    <span class="agent__reviews" *ngIf="agent.reviewCount > 0" (click)="loadAgentReviews()">
                        <span class="mdi mdi-check agent__reviews-check"></span>
                        На основании {{agent.reviewCount}} отзывов
                    </span>
                </div>
            </div>

            <div class="agent-buttons">
                <a href="tel:{{agent.phone}}" class="agent-button agent-button_call">Позвонить</a>
            </div>
        </div>

        <div *ngIf="agentObjectTypes && agentObjectTypes.length > 0">
            <div class="title title_smaller">Мои объекты</div>

            <div class="categories">
                <div class="categories-list categories-list_flat">
                    <div class="cat-check cat-check_flat2" *ngFor="let category of agentObjectTypes">
                        <input type="radio" name="cat" id="chAgent{{category}}">
                        <label for="chAgent{{category}}" class="js-category-label" (click)="changeCategory(category)">{{showCategoryName(category)}}</label>
                    </div>
                </div>
            </div>

            <div class="objects" *ngIf="objects.length > 0">
                <div class="object" *ngFor="let object of objects" (click)="loadObject(object.symCode)">
                    <img src="{{object.photos[0].src}}" class="object__image"/>
                    <div class="object__preview">
                        <div class="object__name">{{object.name}}</div>
                        <div class="object__price">{{object.priceText}}</div>
                    </div>
                    <span class="object__to-detail mdi mdi-chevron-right"></span>
                </div>
            </div>
            <div class="submit-search" *ngIf="nextPage !== null">
                <span class="submit-search__button submit-search__button_load" (click)="loadPage()">Загрузить еще</span>
            </div>

        </div>
        <div class="no-result">
            <div class="title title_no-result">Не нашли подходящий вариант?</div>
            <span class="no-result__button" (click)="loadFeedbackPage()"><span class="mdi mdi-message-draw no-result__icon"></span>Обратиться к агенту</span>
        </div>
    </div>
</ion-content>